
<div class="add">
    <div class="container">
        <h2>Add</h2>

        <!-- <form [formGroup]="profileForm">
          
            <label>
              Titre:
              <input type="text" formControlName="title">
            </label>
          
            <label>
              description:
              <input type="text" formControlName="description">
            </label>

            <label>
              link:
              <input type="text" formControlName="link">
            </label>
        
            <p>
                <button (click)="onSubmit()">submit</button>
            </p>
          
          </form> -->

          <form [formGroup]="profileForm" (ngSubmit)="createPost()">

            <input class="input" type="text" placeholder="Titre" formControlName="title">
          
            <input class="input" type="url" placeholder="Url vers la ressource" formControlName="link">
          
            <button type="submit" class="button">Ajouter</button>
          </form>


    </div>
   
</div>



