
<div class="add">
    <div class="container">
        <h2>Add</h2>

        <form [formGroup]="profileForm">
          
            <label>
              Titre:
              <input type="text" formControlName="title">
            </label>
          
            <label>
              description:
              <input type="text" formControlName="description">
            </label>

            <label>
              link:
              <input type="text" formControlName="link">
            </label>
        
            <p>
                <button (click)="onSubmit()">submit</button>
            </p>
          
          </form>
    </div>
   
</div>

